* {
    margin:0;
}

body{
    font-family:'Poppins', sans-serif;
    
}
.header{
    background-color:#113B5B;
    padding-bottom:3%;
    position:fixed;
    top:0;
    height:3%;
    z-index: 5;
}
.imgtxtcontainer{
    position:relative;
}
.container-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index:3;
}
.edn{
    width:5%;
    padding-top:0.5%;
    padding-left:47%;
}
.p2{
    width:100%;    
    opacity: 0.6;
    z-index:3;
    filter: brightness(0.5);
}

.trombi{
    color: #F4F1F0;
    font-size:4rem;
    z-index:4;
}
.sous-texte{
    z-index: 4;
    color: #FFCC1D;
    font-size: 2rem;
    font-weight: bold;
}   

.student{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #F4F1F0;
    padding-top:8%;
    z-index:99%;
}
#photos{
    object-fit: cover;
    height:215px;
    width:100%;
}

h2{
    padding-top: 5%;

}
p{
padding-top: 5%;

}
.extphotos{
    cursor: pointer;
    position: relative;
}
.extraita{
    position: absolute;
    text-align: center;
    top:0px;
    left: 0;
    opacity: 0;
    height: 185px;
    transition: opacity 0.3s;
    font-weight: bolder;
    overflow:auto;
    padding:15px;
    background-color:rgba(17, 59, 91, 0.5);
}
#photos:hover ~ .extraita{
    opacity: 1;
    font-weight:bold;

}
/* #photos:hover{
    opacity:0.1;
    transition: opacity 0.4s;
} */
/* .extphotos:hover{
    background-color: rgba(17, 59, 91, 0.6);
    transition: opacity 0.4s;
    opacity: 0.6;
} */
.extraita:hover{
    opacity: 0.9;
    transition: opacity 0.4s;
    
}

.extraitb{
    z-index: 99;
}
.competences{
    font-weight: 16px;
}

.comp{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-left:2%;
    padding-bottom: 23%;
    font-weight: bold;
}

.desc_competences{
    font-size: 14px;

}
.studentinfos{
    background-color: #113B5B;
    text-align: center;
    width:77%;
    color:#FFCC1D;
    margin-left:11%;
    margin-top:10%;
    position: relative;
}
ul.logos{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left:2%;
    padding-bottom:27px;
}
.liens{
    color:#FFCC1D;
}
.infos{
    padding-top: 14px;

}

@media screen and (min-width: 1768px) and (max-width: 1920px){

    .trombi{
        font-size:6rem;
    }

    .sous-texte{
        font-size: 3rem;
    }

    #photos{
        height: 364px;

    }
    .extraita{
        height: 335px;
        font-size: 21px;
    }
    .comp{
        font-size: 20px; 
        font-weight: bold; 
    }

    .studentinfos h2{
        font-size:30px;
    }
    .studentinfos p {
        font-size: 22px;
    }

}

@media screen and (min-width: 1601px) and (max-width: 1767px){
    
    .trombi{
        font-size:4.3rem;
    }

    .sous-texte{
        font-size: 2.5rem;
    }
    #photos{
        height: 314px;

    }

    .extraita{
        height: 285px;
        font-size: 19px;
    }
    .comp{
        font-size: 18px;
        font-weight: bold;
    }

    .studentinfos h2{
        font-size:22px;
    }
    .studentinfos p {
        font-size: 18px;
    }
}


@media screen and (min-width: 1367px) and (max-width: 1600px){

    #photos{
        height: 280px;
    }
    .extraita{
        height: 250px;
    }
    .comp{
        font-size: 17px;
        font-weight: bold;
    }
    
    .studentinfos h2{
        font-size:21px;
    }
    .studentinfos p {
        font-size: 16px;
    }
}


@media screen and (min-width: 1280px) and (max-width: 1366px) {

    .studentinfos h2{
        font-size:21px;
    }
    .studentinfos p {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279px){

    .edn{
        width:5%;
        padding-top: 8px;
        padding-left: 47%;
    }

    .trombi{
        font-size:3.5rem
    }

    .sous-texte{
        font-size:2rem
    } 

    .student{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    .studentinfos{
        width:96%;
        margin-left:2%
    }
    .studentinfos h2{  
        font-size:19px;
    }
     #photos{
        height:265px;
    }
    .extraita{
        height:237px;
    } 
}


@media screen and (min-width: 768px) and (max-width: 1023px){

    .edn{
        padding-left: 48%;
    }

    .student{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .studentinfos{
        width:92%;
        margin-left:5%;
    }
    .studentinfos h2{
        font-size:18px;
    }
    .studentinfos p{
        font-size:14px;
    }
    #photos{
        height:293px;
    }
    .extraita{
        height:265px;
    } 

}



@media screen and (max-width:767px){

    #photos{
        height:265px;
    }
    .extraita{
        height:237px;
    } 
    .student{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .studentinfos h2{
        font-size:18px;
    }
    .studentinfos p{
        font-size:14px;
    }

}
/* @media screen and (max-width:570px){

    .edn{


    }

    .trombi{

    }

    .sous-texte{

    }

    .studentinfos{
        width:92%;
        margin-left:5%;
    }
    .studentinfos h2{
        font-size:18px;
    }
    .studentinfos p{
        font-size:14px;
    }
    #photos{
        height:293px;
    }
    .extraita{
        height:265px;
    } 

} */

@media screen and (max-width:425px){
     .edn{
        padding-top: 1.25%;
        padding-left: 48%;

    }

    .trombi{
        font-size: 2.5rem;
        padding-top: 51px;
    }

    .sous-texte{
        font-size:1.3rem;
    }

    .imgtxtcontainer{
        padding-top: 26px;
    }
    .student{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: -46px;
    }
    .studentinfos{
        width:66%;
        margin-left:17%;
    }
    .studentinfos h2{
        font-size:22px;
    }
    .studentinfos p{
        font-size:20px;
    }
    #photos{
        height:293px;
    }
    .extraita{
        height:265px;
    }
}

@media screen and (max-width:320px){

    .edn{
        padding-top: 1.25%;
        width: 8%;
        padding-left: 46%;
    }


    .imgtxtcontainer{
        padding-top: 17px;
    }

    .trombi{
        font-size:1.7rem;
        padding-top: 1%;
    }

    .sous-texte{
        font-size: 0.7rem;
    }
    #photos{
        height: 240px;

    }

    .extraita{
        height: 210px;
        font-size: 14px;
    }
    .comp{
        font-size: 15px;
        font-weight: bold;
    }

    .studentinfos{
        width:82%;
        margin-left: 9%;

    }
    .studentinfos h2{
        font-size:20px;
    }
    .studentinfos p {
        font-size: 16px;
    }

}